[Unit]
Description=File Access Daemon
Requires=network.target

[Service]
Type=forking
PIDFile=/var/run/fad.pid
ExecStart=/usr/local/bin/fad
Restart=always
TimeoutStopSec=10
SendSIGKILL=yes
RestartSec=30s

[Install]
WantedBy=multi-user.target
Alias=fad.service